div.actions
    a.edit(href='/editPost/{{post.id}}') Edit
    a.delete(href='/deletePost/{{post.id}}') Delete

h3.float
    a.title(href='/fullPost/{{post.id}}') {{post.title}}
div.meta
    | posted by 
    a.mail(href="mailto:{{post.author.email}}") {{post.author.name}}
    |  on {{post.date.slice(0, 10)}}

div.text {{post.text}}

h4.margin_top Comments
p.comments_info
    <ng-pluralize count="post.comments.length" when="commentForms"></ng-pluralize>


div.comment(ng-repeat='comment in post.comments')
    div.actions
        a.delete(href='#', ng-click='deleteComment(comment.id, $event)') Delete

    | Posted by <strong>{{comment.name}}</strong> on {{comment.date}}
    div.comment_content {{comment.comment}}

h4.margin_top Add a comment
    
label(for='name') Name: 
input.name.form-control(ng-model='form.name', name='name', type='text')

p Comment:
textarea.comment.form-control(ng-model='form.comment', cols='50', rows='15')

p
    button.submit_comment.btn(ng-click='submitComment()') submit comment
