//p There are {{posts.length}} posts
div.post(ng-repeat='post in posts')
    div.actions
        a.edit(href='/editPost/{{post.id}}') Edit
        a.delete(href='/deletePost/{{post.id}}') Delete

    h3.float
        a.title(href='/fullPost/{{post.id}}') {{post.title}}
    div.meta
        | posted by 
        a.mail(href="mailto:{{post.author.email}}") {{post.author.name}}
        |  on {{post.date.slice(0, 10)}}
    div.text {{post.text}}
    div.comments_info
        <ng-pluralize count="post.comments.length" when="commentForms"></ng-pluralize>
