<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/screen.css' />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="layout">
      <%- body %>
      <div id="layout-footer"></div>
    </div>
    <div id="footer-wrap">
      <div id="footer">
        <div class="footer-content">Original code by
        <a class="github-link" href="https://github.com/dreamerslab" target="_blank">DreamersLab</a>, forked by <a class="github-link" href="https://github.com/neumino">neumino</a>
        </div>
      </div>
    </div>
    <script src="/javascripts/ga.js"></script>
  </body>
</html>
