h2 Edit author

label(for='name') Name: 
input.title.form-control(ng-model='form.name', name='name', type='text')
label(for='email') Email: 
input.title.form-control(ng-model='form.email', name='email', type='text')
label(for='website') Website: 
input.title.form-control(ng-model='form.website', name='website', type='text')

p
    button.submit_author.btn(ng-click='editAuthor()') Edit Author
