#wrapper img{
    float: none;
    margin: 10px auto;
}
header{
    margin-left: 0px;
}
.hl{
    display: none;
}
.navigation{
    height: auto;
}
.navigation .ul{
}
.navigation .li{
    display: block;
    list-style: none;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

#wrapper{
    border: none;
    margin: 0px;
}

ul.doc-nav{
    float: none;
}
#float-content{
    margin: 4px 0px 0px 0px;
}
