html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background: #fafafa;
}
nav{
    display: block;
    width: 100%;
    min-width: 100%;
    height: 45px;

    background: #2e3138;
    border-top: 2px solid #f3ff71;

    -moz-box-shadow:    0px 0px 5px 0px #000;
    -webkit-box-shadow: 0px 0px 5px 0px #000;
    box-shadow:         0px 0px 5px 0px #000;
}
nav a{
    line-height: 40px;
    padding: 5px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #eee;
}
nav a:hover{
    color: #eee;
    text-decoration: underline;
}
nav ul{
    display: block;
    margin: 0px auto;
    width: 800px;
    text-align: right;
}
nav li{
    display: inline-block;
}

#wrapper{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 20px 60px 0px 60px;
    width: 900px;
    margin: 2px auto 0px auto;
}

main{
    font-size: 0.9em;
    text-align: justify;
}
h2{
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}
h3{
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}
h4{
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}
pre{
    padding: 9px;
    background: #f5f5f5;
    border-left: 5px solid #dcdcdc;
}
code{
    background: #eeeeee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 6px;
}
pre code{
    background: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0px;
}

footer{
    clear: both;
    width: 900px;
    margin: 40px auto 0px auto;
    padding: 20px 0px 40px 0px;
    border-top: 1px dotted #ccc;
}
#wrapper a{
    color: #0088cc;
    text-decoration: none;
}
#wrapper h3 a, #wrapper h2 a{
    color: #000;
}

#wrapper a:hover{
    text-decoration: underline;
}

code{
    font-family: monospace, serif;
    font-size: 0.9em;
}

.doc-nav{
    float: left;
    padding: 20px 0px;
    width: 180px;
    border-right: 1px dotted #ccc;
    margin-right: 20px;
    margin-bottom: 20px;
}
ul.doc-nav, ul.doc-nav ul{
    margin: 0px;
    padding: 0px;
}
li{
    margin: 5px 0px;
    padding: 0px;
    list-style: square;
}
ul.doc-nav li ul li{
    margin-left: 0px;
    list-style: none;
}
hr{
    height: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px dotted #ccc;
    margin: 40px 40px 20px 40px;
}

.float-content{
    margin-left: 240px;
}
ul{
    margin: 0px;
    padding: 0px 0px 0px 20px;
}
