<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <meta name="author" content="Michel Tu"/>
        <title>Thinky.io -- Node.js ORM for RethinkDB</title>
        <link rel="stylesheet" href="">
        <link rel="stylesheet" type="text/css" href="/stylesheets/desktop.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css ">
        <link rel="stylesheet" type="text/css" href="/stylesheets/mobile.css" media="only screen and (max-device-width: 480px)" />
    </head>
    <body>
    <div class="navigation">
        <ul>
            {% if page.hl == "index" %}
            <div class="hl index"></div>
            {% elsif page.hl == "about" %}
            <div class="hl about"></div>
            {% else %}
            <div class="hl doc"></div>
            {% endif %}
            <li class="home_link"><a href="/">Home</a></li>
            <li class="documentation_link"><a href="/documentation/">Documentation</a></li>
            <li class="about_link"><a href="/about.html">About</a></li>
            <li class="github_link"><a href="https://github.com/neumino/thinky">GitHub</a></li>
        </ul>
    </div>
    <div id="wrapper">

        <main>
            {{ content }} 
        </main>

        <footer>
            <hr/>
            <ul>
                <li>Michel Tu</li>
                <li>&mdash; <a href="mailto:orphee@gmail.com">orphee@gmail.com</a></li>
                <li>&mdash; <a href="http://www.justonepixel.com">www.justonepixel.com</a><br/></li>
            </ul>
            <ul>
                <li>Hosted on <a href="https://pages.github.com">GitHub Pages</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>
