<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <meta name="author" content="Michel Tu"/>
        <title>Node.js -- JavaScript ORM for RethinkDB</title>
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/stylesheets/desktop.css">
        <link rel="stylesheet" href="/stylesheets/pygment_trac.css ">
    </head>
    <body>
    <nav>
        <ul>
            {% if page.hl == "index" %}
            <li class="hl index"></li>
            {% elsif page.hl == "about" %}
            <li class="hl about"></li>
            {% else %}
            <li class="hl doc"></li>
            {% endif %}
            <li><a href="/">Home</a></li>
            <li><a href="/documentation/">Documentation</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="https://github.com/neumino/thinky">GitHub</a></li>
        </ul>
    </nav>
    <div id="wrapper">

        <main>
            {{ content }} 
        </main>

        <footer>
            <hr/>
            <p><small>
                Michel Tu &mdash; <a href="mailto:orphee@gmail.com">orphee@gmail.com</a> &mdash; <a href="http://www.justonepixel.com">www.justonepixel.com</a><br/>
                Hosted on <a href="https://pages.github.com">GitHub Pages</a>
            </small></p>
        </footer>
    </div>
</body>
</html>
