---
layout: default
---


<ul class="doc-nav">
    <li class="main-title">Navigation</li>
    <li><a href="/documentation/">Quickstart</a></li>
    <li><a href="/documentation/introduction/">Introduction</a></li>
    <li><a href="/documentation/schemas/">Schemas</a></li>
    <li><a href="/documentation/relations/">Relations</a></li>
    <li><a href="/documentation/faq/">FAQ</a></li>

    <li class="line-container"><hr/></li>
    <li class="main-title">API</li>
    <li>
        <ul class="section">
            <li class="title"><a href="/documentation/api/thinky/">Thinky</a></li>
            <li>- <a href="/documentation/api/thinky/#r">r</a></li>
            <li>- <a href="/documentation/api/thinky/#createmodel">createModel</a></li>
        </ul>
        <ul class="section">
            <li class="title"><a href="/documentation/api/model/">Model</a></li>
            <li>- <a href="/documentation/api/model/#gettablename">getTableName</a></li>
            <li>- <a href="/documentation/api/model/#define">define</a></li>
            <li>- <a href="/documentation/api/model/#ensureindex">ensureIndex</a></li>
            <li>- <a href="/documentation/api/model/#hasone">hasOne</a></li>
            <li>- <a href="/documentation/api/model/#belongsto">belongsTo</a></li>
            <li>- <a href="/documentation/api/model/#hasmany">hasMany</a></li>
            <li>- <a href="/documentation/api/model/#hasandbelongstomany">hasAndBelongsToMany</a></li>
            <li>- <a href="/documentation/api/model/#querysmethods">Query's methods</a></li>
            <li>- <a href="/documentation/api/model/#eventemittersmethods">EventEmitter's methods</a>
            <li>- <a href="/documentation/api/model/#doceventemittersmethods">EventEmitter's methods<br><span>for documents</span></a></li>
        </ul>
        <ul class="section">
            <li class="title"><a href="/documentation/api/document/">Document</a></li>
            <li>- <a href="/documentation/api/document/#getmodel">getModel</a></li>
            <li>- <a href="/documentation/api/document/#merge">merge</a></li>
            <li>- <a href="/documentation/api/document/#validate">validate</a></li>
            <li>- <a href="/documentation/api/document/#validatell">validateAll</a></li>
            <li>- <a href="/documentation/api/document/#save">save</a></li>
            <li>- <a href="/documentation/api/document/#saveall">saveAll</a></li>
            <li>- <a href="/documentation/api/document/#getoldvalue">getOldValue</a></li>
            <li>- <a href="/documentation/api/document/#issaved">isSaved</a></li>
            <li>- <a href="/documentation/api/document/#setsaved">setSaved</a></li>
            <li>- <a href="/documentation/api/document/#delete">delete</a></li>
            <li>- <a href="/documentation/api/document/#deleteall">deleteAll</a></li>
            <li>- <a href="/documentation/api/document/#purge">purge</a></li>
            <li>- <a href="/documentation/api/document/#eventemittersmethods">EventEmitter's methods</a>
        </ul>
        <ul class="section">
            <li class="title"><a href="/documentation/api/query/">Query</a></li>
            <li>- <a href="/documentation/api/query/#getjoin">getJoin</a></li>
            <li>- <a href="/documentation/api/query/#run">run</a></li>
            <li>- <a href="/documentation/api/query/#execute">execute</a></li>
            <li>- <a href="/documentation/api/query/#reql">ReQL methods</a></li>
        </ul>
    </li>
</ul>
<div id="float-content">
    {{content}}
</div>
