---
layout: default
---


<ul class="doc-nav">
    <li><a href="/documentation/">Quickstart</a></li>
    <li><a href="/documentation/faq/">FAQ</a></li>
    <li>
        <a href="/documentation/thinky">API</a>
        <ul class="section">
            <li>Thinky</li>
            <li>- <a href="/documentation/thinky/">Thinky</a></li>
            <li>- <a href="/documentation/thinky/#r">r</a></li>
            <li>- <a href="/documentation/thinky/#createmodel">createModel</a></li>
        </ul>
        <ul class="section">
            <li>Model</li>
            <li>- <a href="/documentation/model/">Model</a></li>
            <li>- <a href="#hasone">getOptions</a></li>
            <li>- <a href="#hasone">getName</a></li>
            <li>- <a href="#hasone">hasOne</a></li>
            <li>- <a href="#belongsto">belongsTo</a></li>
            <li>- <a href="#hasmany">hasMany</a></li>
            <li>- <a href="#hasandbelongstomany">hasAndBelongsToMany</a></li>
            <li>- <a href="#getjoin">getJoin</a></li>
            <li>- <a href="#run">run</a></li>
            <li>- <a href="#execute">execute</a></li>
            <li>- <a href="#reql">ReQL methods</a></li>
            <li>- <a href="#docaddlistener">docAddListener</a></li>
            <li>- <a href="#docon">docOn</a></li>
            <li>- <a href="#doconce">docOnce</a></li>
            <li>- <a href="#doclisteners">docListeners</a></li>
            <li>- <a href="#docsetmaxlisteners">docSetMaxListeners</a></li>
            <li>- <a href="#docremovelistener">docRemoveListener</a></li>
            <li>- <a href="#docremovealllisteners">docRemoveAllListeners</a></li>

        </ul>
        <ul class="section">
            <li>Document</li>
            <li>- <a href="/documentation/document/">Document</a></li>
            <li>- <a href="#getmodel">getModel</a></li>
            <li>- <a href="#validate">validate</a></li>
            <li>- <a href="#save">save</a></li>
            <li>- <a href="#saveall">saveAll</a></li>
            <li>- <a href="#issaved">isSaved</a></li>
            <li>- <a href="#delete">delete</a></li>
            <li>- <a href="#deleteall">deleteAll</a></li>
            <li>- <a href="#purge">purge</a></li>
        </ul>
        <ul class="section">
            <li>Query</li>
            <li>- <a href="/documentation/query/">Query</a></li>
            <li>- <a href="#getjoin">getJoin</a></li>
            <li>- <a href="#run">run</a></li>
            <li>- <a href="#execute">execute</a></li>
            <li>- <a href="#reql">ReQL methods</a></li>
        </ul>
    </li>
</ul>
<div class="float-content">
    {{content}}
</div>
