---
layout: default
---

<header>
    <h1 class="header">Thinky</h1>
    <p class="header-description">Cute JavaScript ORM for RethinkDB</p>

    <ul>
        <li>
            <a class="btn" href="https://github.com/neumino/thinky/zipball/master">Download</a>
        </li>
        <li>
            <a class="btn" href="/#quickstart">Quickstart</a>
        </li>
        <li>
            <a class="btn" href="/documentation.html">Documentation</a>
        </li>

    </ul>
</header>

<div id="content">
    <a id="quick-start"></a>
    {{ content }}
</div>
